body
{
  padding: 0;
  margin: 0;
  background-color: #3d385a;
}
.section
{
  -webkit-perspective: 1000px;
     -moz-perspective: 1000px;
          perspective: 1000px;
}
.container
{
  width: 660px;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: auto;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  height: auto;
  -webkit-transition: 1s;
     -moz-transition: 1s;
      -ms-transition: 1s;
       -o-transition: 1s;
          transition: 1s;
  -webkit-transform: rotateX(55deg) rotateZ(-45deg) rotateY(10deg);
     -moz-transform: rotateX(55deg) rotateZ(-45deg) rotateY(10deg);
      -ms-transform: rotateX(55deg) rotateZ(-45deg) rotateY(10deg);
       -o-transform: rotateX(55deg) rotateZ(-45deg) rotateY(10deg);
          transform: rotateX(55deg) rotateZ(-45deg) rotateY(10deg);
    -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.container-origin
{
    -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
        -ms-transform: rotate(0);
         -o-transform: rotate(0);
            transform: rotate(0);
}
img
{
  max-width: 100%;
}
.card
{
  width: 200px;
  margin: 10px;
  -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
      -ms-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
}
.card:hover
{
  cursor: pointer;
  -webkit-transform: translateZ(10px);
     -moz-transform: translateZ(10px);
      -ms-transform: translateZ(10px);
       -o-transform: translateZ(10px);
          transform: translateZ(10px);
}