body{
  font-family: sans-serif;
  background-color: #f1f1f1;
  margin: 0;
}
*,*:before,*:after{
	box-sizing: border-box;
}
.container{
	height: 100vh;
	background-color: #363636;
	color: ;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.social{
	width: 450px;
	color: #fff;
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.social-item{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 5px solid #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	font-size: 30px;
	transition: all 0.8s;
}
.whatsapp:hover{
	border-color: #4dc247; 
	box-shadow: 0px 0px 20px #4dc247;/*Отступ по х, отступ по у, рассеивание*/
	color: #4dc247;
}
.vk:hover{
	border-color: #3D5AFE; 
	box-shadow: 0px 0px 20px #3D5AFE;/*Отступ по х, отступ по у, рассеивание*/
	color: #3D5AFE;
}
.twitter:hover{
	border-color: #00aced; 
	box-shadow: 0px 0px 20px #00aced;/*Отступ по х, отступ по у, рассеивание*/
	color: #00aced;
}
.instagram:hover{
	border-color: #bc2a8d; 
	box-shadow: 0px 0px 20px #bc2a8d;/*Отступ по х, отступ по у, рассеивание*/
	color: #bc2a8d;
}
.google:hover{
	border-color: #dd4b39; 
	box-shadow: 0px 0px 20px #dd4b39;/*Отступ по х, отступ по у, рассеивание*/
	color: #dd4b39;
}

