body{
  font-family: sans-serif;
  background-color: #f1f1f1;
  margin: 25px auto;

}
*,*:before,*:after{
	box-sizing: border-box;
}
svg{
	height: 65px;
	width: 130px;
	position: absolute;
	top: 0;
	left: 0;
}
svg rect{
	stroke: #536DFE;
	stroke-width: 1;
	transition: 0.8s;
	stroke-dasharray: 400, 0;
}
span.title{
	display: block;
	text-align: center;
	margin: 15px auto;
}
.basicBox{
	text-transform: uppercase;
	width: 130px;
	height: 65px;
	text-align: center;
	line-height: 65px;
	margin: 10px auto;
	position: relative;
	cursor: pointer;
}
.basicBox:hover svg rect{
	stroke-width: 5;
	stroke-dasharray: 35, 245;/* Длина линии и растояние между ними*/
	stroke-dashoffset: 38;/*Смещение линий*/

}